<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Image:</stro
  <%= image_tag @restaurant.image.thumb %>
</p>

<!-- followed the following "http://stackoverflow.com/questions/25126741/rails-4-rendering-new-action-on-view-that-uses-different-controller" which talks about reservation variable not being initiated  -->
<%= render "/reservations/form", :reservation => @reservation %>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
